@charset "utf-8";

html {}

body {
    margin: 0;
    padding: 0;

}

/* header */
header {
    background: #186AC9;
    width: 100%;
    height: 80px;
}

#head {
    color: #ffffff;
}

#header-container {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: flex-end;
    align-items: flex-end;
}

img.atlas-logo {
    width: 140px;
    position: relative;
    padding: 18px;
}






/* アコーディオンメニュー */

.menu-list {

    width: max-content;
    position: absolute;
    /* right: 0px; */
}

.menu-btn {
    background-color: #186AC9;
    color: #ffffff;
    /* position: relative; */
}


.menu {
    display: none;
    position: absolute;
    width: max-content;
}

.accordion-menu {
    background-color: #ffffff;
    display: block;
    border: 1px solid #186AC9;
    padding: 20px;
    font-size: larger;
    color: #727272;
    font-weight: lighter;
    text-align: center;
    text-decoration: none;
}

img.profile-image {
    width: 50px;
    height: 50px;
}

/* サイドバー */

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
    text-align: right;
}

#confirm {
    text-align: left;
    margin: 20px;
}


/* main content */

/* 投稿機能 */

.form-container {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: space-around;
    justify-content: space-around;
    margin: 20px 40px 20px 10px;
    gap: 10px;
    right: 10px;
}

.post-form {
    border: none;
    font-size: 15px;
    width: 70%;
    height: 120px;
}

img.submit-btn {
    width: 70px;
    position: relative;
    padding: 18px;
    border-radius: 20px;
    margin-left: 10px;
    top: 50px;
}

div.b-color {
    background-color: #727272;
    width: auto;
    height: 6px;
    opacity: 20%;
    margin-top: 30px;
    margin-bottom: 15px;
}

.contents {
    margin: 15px 30px 15px 60px;
}



#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}


div.b-color1 {
    background-color: #727272;
    width: auto;
    height: 0.8px;
    opacity: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.edit-container {
    top: -600px;
    right: -236px;
    width: 660px;
    height: 270px;
    background-color: #ffffff;
    border-radius: 10px;
    position: relative;
    visibility: hidden;
}

.edit-container.active {
    opacity: 1;
    visibility: visible;
}

button {
    padding: 0;
    border: none;
    background: transparent;
}

button img {
    display: block;
    width: 40px;
    height: 40px;
}

.edit-btn {
    margin-right: 5px;
}

.trash-btn {
    margin-left: 5px;
    width: 40px;
    height: 40px;
    background-image: url("../images/trash.png");
    background-size: 40px;
}

.trash-btn:hover {
    margin-left: 5px;
    width: 40px;
    height: 40px;
    background-image: url("../images/trash-h.png");
    background-size: 40px;
    border-radius: 3px;
}


.modal_post {
    width: 600px;
    height: 200px;
    background: #ffffff;
    left: 30px;
    padding: 30px;
    margin: 10px 30px 20px 30px;
}

.edit-close {
    position: absolute;
    display: block;
    top: 190px;
}

.create-time {
    margin-left: auto;
}

.content {
    font-size: medium;
}

.v-post {
    margin: 0 0 0 60px;
    top: 50px;
}

.contents1 {
    display: flex;
}

.contents2 {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: flex-end;
    align-items: flex-end;

}


/* ユーザー検索 */

.search-user {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-start;
    justify-content: flex-start;
}

.username {
    width: 250px;
    height: 40px;
}

img.search-btn {
    width: 80px;
    position: relative;
    padding: 18px;
    border-radius: 23px;
    margin-left: auto;
}


/* プロフィール編集画面 */

/* .update-container {
    position: relative; */
/* } */

img.update-icon {
    width: 50px;
    height: 50px;
}

.input {
    display: block;
}

label {
    /* text-align: center; */
}
