@charset "utf-8";

html {}

body {
    margin: 0;
    padding: 0;

}

/* header */
header {
    display: flex;
    position: relative;
    /* justify-content: flex-end; */
    background: #186AC9;
    width: 100%;
    height: 80px;

}

header div:first-of-type {
    margin-right: auto;
}

.head {
    margin: 15px;
    gap: 20px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: flex-end;
    /* text-align: right; */
}



img.atlas-logo {
    width: 140px;
    position: relative;
    padding: 18px;
}

.login-name {
    color: #ffffff;
    font-weight: bold;
}






/* アコーディオンメニュー */

.menu-list {
    /* display: flex; */
    margin: auto;
}

/* .menu-list {

    width: max-content;
    position: absolute;
    right: 0px;
}

.menu-btn {
    background-color: #186AC9;
    color: #ffffff; */
/* position: relative; */
/* } */


/* .menu {
    display: none;
} */


.accordion-menu {
    background-color: #ffffff;
    width: 230px;
    display: block;
    border: 1px solid #186AC9;
    padding: 20px;
    font-size: larger;
    color: #727272;
    font-weight: bolder;
    text-align: center;
    text-decoration: none;
}

.accordion-profile {
    background-color: #223a70;
    color: #fff;
}

img.profile-image {
    width: 50px;
    height: 50px;
}

.menu-btn {
    width: 40px;
    height: 40px;
    top: 1px;
    right: 1px;
    background-color: #186AC9;
    color: #fff;
    outline: initial;

    &:focus-visible {
        box-shadow: 0 0 0 2px blue;
    }

    .inn {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;

        &:before {
            position: absolute;
            content: "";
            top: 40%;
            left: 50%;
            width: 15px;
            height: 15px;
            transform: translate(-50%, -40%) rotate(135deg);
            border-top: 2px solid #ffffff;
            border-right: 2px solid #ffffff;
            transition: 0s ease;
        }
    }
}

/* .menu-btn {
    width: 40px;
    height: 40px;
    top: 1px;
    right: 1px;
    background-color: #186AC9;
    color: #fff;
    outline: initial;

    &:focus-visible {
        box-shadow: 0 0 0 2px blue;
    }

    .inn {
        position: relative;
        width: 100%;
        height: 100%;
        display: flex;

        &:before {
            position: absolute;
            content: "";
            top: 40%;
            left: 50%;
            width: 15px;
            height: 15px;
            transform: translate(-50%, -40%) rotate(135deg);
            border-top: 2px solid #ffffff;
            border-right: 2px solid #ffffff;
            transition: 0s ease;
        }
    }
} */

.menu-btn.is-open {
    .inn {
        &:before {
            top: 60%;
            transform: translate(-50%, -60%) rotate(-45deg);
        }
    }
}

.menu {
    display: none;
}

.menu.is-open {
    opacity: 1;
    transform: translateY(0);
    margin-top: 64px;
    opacity: 0;
    transition: .0s ease-in-out;
    pointer-events: none;
    transform: translateY(-30px);
}


/* .menu.is-open {
    opacity: 1;
    transform: translateY(0);

} */



/* サイドバー */

#side-bar {
    flex: 0 0 19%;
    border-left: 1px solid #727272;
    text-align: right;
}

#confirm {
    /* text-align: left; */
    margin: 15px;
}

.follow-count {
    display: flex;
    gap: 30px;
}

.follower-count {
    display: flex;
    gap: 15px;
    /* margin-top: 20px; */
}

.follow-listbtn {
    margin: 0 0 20px auto;
}

.user-search {
    text-align: center;
    margin: 10px 40px 10px 40px;
}


/* main content */

/* 投稿機能 */

.form-container {
    display: flex;
    position: relative;
    /* display: -webkit-flex;
    display: flex; */
    /* -webkit-justify-content: space-around; */
    /* justify-content: space-around; */
    margin: 20px 30px 20px 80px;
    gap: 5px;
    /* right: 10px; */
}

.submit-btn {
    margin-right: 100px;
    margin-top: 75px;
}

/* .form-container div:last-of-type {
    margin-left: auto;
} */

.post-form {
    border: none;
    font-size: 15px;
    width: 70%;
    height: 120px;
}

img.submit-btn {
    width: 70px;
    position: relative;
    margin: 60px 0 0 0;
    border-radius: 20px;
    margin-left: 10px;
    justify-content: flex-end;
}

div.b-color {
    background-color: #727272;
    width: auto;
    height: 6px;
    opacity: 20%;
    margin-top: 10px;
    margin-bottom: 15px;
}

.contents {
    margin: 15px 50px 15px 90px;
}

.content {
    display: block;
}



#row {
    display: flex;
    flex-flow: row wrap;
}

#container {
    flex: 0 0 80%;
}


div.b-color1 {
    background-color: #727272;
    width: auto;
    height: 0.8px;
    opacity: 50%;
    margin-top: 10px;
    margin-bottom: 10px;
}

.edit-container {
    top: -600px;
    right: -236px;
    width: 660px;
    height: 270px;
    background-color: #ffffff;
    border-radius: 10px;
    position: relative;
    visibility: hidden;
}

.edit-container.active {
    opacity: 1;
    visibility: visible;
}

button {
    padding: 0;
    border: none;
    background: transparent;
}

button img {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 3px;
}

.edit-btn {
    margin-right: 5px;
}

.trash-btn {
    margin-left: 5px;
    width: 40px;
    height: 40px;
    background-image: url("../images/trash.png");
    background-size: 40px;
}

.trash-btn:hover {
    margin-left: 5px;
    width: 40px;
    height: 40px;
    background-image: url("../images/trash-h.png");
    background-size: 40px;
    border-radius: 3px;
}


.modal_post {
    width: 600px;
    height: 200px;
    background: #ffffff;
    left: 30px;
    padding: 30px;
    margin: 10px 30px 20px 30px;
}

.edit-close {
    position: absolute;
    display: block;
    top: 190px;
}

.create-time {
    margin-left: auto;
}

.content {
    font-size: medium;
}

.v-post {
    margin: 10px 0 10px 0px;
    top: 50px;
}

.contents1 {
    display: flex;
    gap: 15px;
}

.contents2 {
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: flex-end;
    justify-content: flex-end;
    -webkit-align-items: flex-end;
    align-items: flex-end;

}


/* ユーザー検索 */

.search {
    display: flex;
    align-items: center;
}

.search-user {
    display: -webkit-flex;
    display: flex;
    margin: 20px 40px 20px 20px;
    padding: 20px 40px 20px 20px;
    gap: 20px;
}

.search-form {
    width: 300px;
    height: 40px;
}


img .search-btn {
    margin-left: 20px;
    margin-top: 20px;
    width: 40px;
    height: 40px;
    background-image: url("../images/search.png");
}

/* フォローリスト */

.caption {
    font-size: 30px;
    margin: 0 60px 0 40px;
}

.list-member {
    margin: 0 20px 0 0;
}

.listform-container {
    display: flex;
    /* display: -webkit-flex;
    -webkit-justify-content: space-around; */
    /* justify-content: space-around; */
    margin: 20px 40px 20px 30px;
    /* gap: 5px; */
    /* right: 10px; */
}

/* 自分以外のユーザーリスト */

.user-list {
    margin-bottom: 20px;
    text-align: center;
}

.name-bio {
    display: block;
    margin: 0 50px 0 20px;
}

.profile-user {
    margin: 0 0 0 70px;
    text-align: left;
    /* width: max-content; */
}

.introduction {
    display: flex;
    width: 260px;
    margin: 0 320px 30px 10px;
}

.profile-item {
    position: absolute;
    margin: 0 40px 0 0;
}

.prunfollow-btn {
    position: absolute;
    margin: 70px 0 0 150px;
}


.prfollow-btn {
    margin: 70px 0 0 150px;
}



/* プロフィール編集画面 */

/* .update-container {
    position: relative; */
/* } */

img.update-icon {
    width: 50px;
    height: 50px;
}

.input {
    display: block;
}

label {
    /* text-align: center; */
}
